.version.index{
	color:#000006;
	background-color:#D6323F;
}

#muse_css_mq{
	background-color:#FFFFFF;
}

#page{
	z-index:1;
	min-height:500px;
	border-width:0px;
	border-color:#000000;
	width:100%;
	max-width:1250px;
	margin-left:auto;
	margin-right:auto;
	background:;
	background-color:rgba(0,0,0,0.55);
}

.somosText {
	font-size: 20px; 
	color: white; 
	font-family:lato, sans-serif;
	letter-spacing: 0.8px; /*Espaciado de letras*/
	line-height: 26px; /*Cambiar la altura entre cada línea*/
	text-align: right;
	font-weight: 490;
}

.T1 {
	font-size: 15px; 
	color: #d8d8d8; 
	font-family:lato, sans-serif;
	letter-spacing: 0.8px; /*Espaciado de letras*/
	line-height: 19px; /*Cambiar la altura entre cada línea*/
	text-align: left;
	font-weight: 300;
}

.T2 {
	font-size: 15px; 
	color: #e7e7e7; 
	font-family:lato, sans-serif;
	letter-spacing: 0.8px; /*Espaciado de letras*/
	line-height: 19px; /*Cambiar la altura entre cada línea*/
	text-align: left;
	font-weight: 300;
}

.textCountries {
	font-size: 18px; 
	color: white; 
	font-family:lato, sans-serif;
	letter-spacing: 0.5px; /*Espaciado de letras*/
	/*line-height: 26px; */
	/*text-align: right;*/
	font-weight: 420;
}

.divSomos {
	margin-top:45px;
	margin-left: 470px;
	width: 45%;
}

.divMap{
	margin-top:150px;
	margin-left: 390px;
	width: 66%;
	height: 12%;
	background: transparent url(../images/mapa.png) no-repeat center center;
	background-size:32%;
	background-position: left;
	
}

.divT1{
	margin-top:0px;
	margin-left: 310px;
	width: 31%;
	height: 75px;
	/*background: pink;*/
}

.divCountries{
	margin-top:50px;
	margin-left: 90px;
	width: 45%;
	height: 250px;
	/*background: white;*/
}

.divAliados {
	margin-top: 310px;
	margin-left: 320px;
	width: 200px;
	height: 120px;
	/*background:white;*/
}

.divVamos {
	margin-top: -113px;
	margin-left: 500px;
	width: 300px;
	height: 120px;
	/*background:pink;*/
}


.divP3 {
	width: 280px;
	height: 280px;
	text-align: center;
	color: #FFFFFF;

}

#divPG { /*ROSA*/
	margin-top: 150px;
	margin-left: 550px;
	background: url('../images/rosa.png');
	background-size: contain;

}

#divPCa {
	margin-top: -310px;
	margin-left: 807px;
	background: url('../images/morado.png');
	background-size: contain;
}

#divProm{
	margin-top: -58px;
	margin-left: 737px;
	background: url('../images/verde.png');
	background-size: contain;
}

#divPCi{
	margin-top: -260px;
	margin-left: 480px;
	background: url('../images/azul.png');
	background-size: contain;
}




#u94{
	z-index:32;
	height:5000px;
	border-style:solid;
	border-right-width:1px;
	border-color:#FFFFFF;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	position:fixed;
	top:0px;
	left:0px;
	width:13.61%;
	max-width:170px;
	background:;
}

.BOX{
	border-width:0px;
	border-color:#000000;
	background-color:#000000;
}

#uno{
	margin-left:714px;
	position:relative;
}

#pu322{
	z-index:55;
	margin-top:44px;
	width:100%;
}

#u322{
	z-index:55;
	width:40px;
	min-height:40px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:1px;
	left:-310px;
}

#u409{
	z-index:2;
	width:50px;
	min-height:54px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:-10.4%;
}

#pamphletu1450{
	z-index:219;
	width:0.01px;
	height:15px;
	position:relative;
	margin-right:-10000px;
	margin-top:34px;
	left:95.28%;
}

#u1451{
	z-index:220;
	width:20px;
	padding-bottom:15px;
	position:relative;
	margin-right:-10000px;
}

#u1452{
	width:20px;
	height:15px;
	border-color:#DEDEDE;
	background-color:transparent;
	border-radius:20px;
	position:fixed;
	top:96px;
	right:39px;
}

.ie #u1452{
	background-color:#FFFFFF;
	opacity:0.01;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter:alpha(opacity=1);
}

#u1452:hover{
	border-color:#999999;
	border-radius:20px;
	width:20px;
	height:15px;
	min-height:0px;
	margin:0px;
}

.ie #u1452:hover{
	background-color:#FFFFFF;
	opacity:0.01;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter:alpha(opacity=1);
}

#u1459{
	position:absolute;
	width:773px;
	background-color:#343434;
	background-color:rgba(30,30,30,0.9);
	padding-bottom:44px;
	top:558px;
	left:248px;
	-pie-background:rgba(30,30,30,0.9);
}

#u1459popup{
	z-index:222;
}

#u1460{
	z-index:223;
	width:729px;
	height:585px;
	border-width:0px;
	border-color:#999999;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:0px;
	padding-top:71px;
	margin-right:-10000px;
	position:relative;
	top:22px;
	left:22px;
	background:transparent url("../images/circle_about-01.png?crc=345397188") no-repeat center center;
}

#pu1541{
	z-index:224;
	width:90.68%;
	margin-left:4.26%;
}

#u1541{
	z-index:224;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:93px;
	position:relative;
	margin-right:-10000px;
	width:40.85%;
	background:transparent url("../images/circle_contact_normal-01.png?crc=3844250947") no-repeat center center;
}

#u1516-6{
	z-index:227;
	width:142px;
	min-height:73px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right:-10000px;
	margin-top:90px;
	left:23.71%;
}

#u1560{
	z-index:226;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:81px;
	position:relative;
	margin-right:-10000px;
	width:40.85%;
	left:59.16%;
	background:transparent url("../images/circle_contact_normal-01.png?crc=3844250947") no-repeat center center;
}

#u1541:hover,#u1560:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	min-height:0px;
	width:40.85%;
	margin:0px -10000px 0px 0%;
	background:transparent url("../images/circle_contact_hover-01.png?crc=4015166012") no-repeat center center;
}

#u1519-6{
	z-index:233;
	width:147px;
	min-height:95px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right:-10000px;
	margin-top:94px;
	left:23.34%;
}

#u1563{
	z-index:225;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:112px;
	margin-top:45px;
	position:relative;
	width:37.04%;
	margin-left:31.56%;
	background:transparent url("../images/circle_contact_normal-01.png?crc=3844250947") no-repeat center center;
}

#u1563:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	min-height:0px;
	width:37.04%;
	margin:45px 0px 0px 31.550068587105624%;
	background:transparent url("../images/circle_contact_hover-01.png?crc=4015166012") no-repeat center center;
}

#u1522-6{
	z-index:239;
	width:142px;
	min-height:46px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right:-10000px;
	margin-top:112px;
	left:23.71%;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton{
	cursor:pointer;
}

#pu167{
	z-index:7;
	padding-bottom:153px;
	margin-top:-54px;
	width:100%;
}

#u167{
	z-index:7;
	width:145px;
	height:145px;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	position:fixed;
	top:70px;
	left:137px;
	background:transparent url("../images/button_blue-01.png?crc=3985831136") no-repeat center center;
	background-size:cover;
}

#u167:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	height:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_blue-02.png?crc=4170736538") no-repeat center center;
	background-size:cover;
}

#u167.MuseLinkActive{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	height:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_blue-02.png?crc=4170736538") no-repeat center center;
	background-size:cover;
}

#pamphletu448{
	z-index:92;
	width:0.01px;
	height:59px;
	position:fixed;
	top:62px;
	right:87px;
}

#u457{
	position:absolute;
	width:76px;
}

#u457popup{
	z-index:93;
}

#u458{
	z-index:94;
	width:76px;
	height:33px;
	border-color:#999999;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u459-4{
	z-index:95;
	width:75px;
	min-height:19px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:13px;
	line-height:18px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:6px;
	left:1px;
}

#u453{
	z-index:99;
	width:69px;
	position:relative;
	margin-right:-10000px;
	margin-top:33px;
	left:3px;
}

#u454{
	position:absolute;
	width:69px;
	height:26px;
	border-width:0px;
	border-color:transparent;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);
	background:transparent url("../images/about_icon.png?crc=3783268954") no-repeat center center;
}

#u454:hover{
	background-repeat:no-repeat;
	background-position:center center;
	border-width:0px;
	border-color:transparent;
	width:69px;
	height:26px;
	min-height:0px;
	margin:0px;
}

#u454.PamphletThumbSelected{
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:0px;
	width:69px;
	height:26px;
	min-height:0px;
	margin:0px;
}

#u166-4{
	z-index:33;
	width:128px;
	min-height:16px;
	background-color:transparent;
	color:#646464;
	text-align:right;
	letter-spacing:1px;
	font-size:13px;
	line-height:16px;
	font-family:lato, sans-serif;
	font-weight:400;
	position:fixed;
	top:135px;
	left:20px;
}

#u166-4:hover{
	padding-top:0px;
	padding-bottom:0px;
	min-height:16px;
	width:128px;
	margin:0px;
}

#u166-4:hover p{
	color:#88A6D7;
	visibility:inherit;
}

#u166-4.MuseLinkActive p{
	color:#88A6D7;
	visibility:inherit;
}

#u170{
	z-index:8;
	width:145px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:145px;
	position:fixed;
	top:171px;
	left:137px;
}

#u171{
	z-index:9;
	width:145px;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:145px;
	position:fixed;
	top:171px;
	left:137px;
	background:transparent url("../images/button_orange-01.png?crc=4277023067") no-repeat center center;
	background-size:cover;
}

#u171:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_orange-02.png?crc=438415428") no-repeat center center;
	background-size:cover;
}

#u171.MuseLinkActive{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_orange-02.png?crc=438415428") no-repeat center center;
	background-size:cover;
}

#u172-4{
	z-index:10;
	width:31px;
	min-height:19px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:15px;
	line-height:18px;
	font-family:lato, sans-serif;
	font-weight:900;
	position:fixed;
	top:234px;
	left:194px;
}

#u444{
	z-index:89;
	width:40px;
	height:40px;
	-webkit-transition-duration:0.6s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.6s;
	transition-delay:0s;
	transition-timing-function:ease;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:50%;
	position:fixed;
	top:205px;
	right:22px;
	background:#009DB7 url("../images/social_icon-01.png?crc=153457325") no-repeat center center;
	background-size:cover;
}

#u444:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:40px;
	height:40px;
	min-height:0px;
	margin:0px;
	background:#00778B url("../images/social_icon-01.png?crc=153457325") no-repeat center center;
	background-size:cover;
}

#u169-4{
	z-index:37;
	width:128px;
	min-height:16px;
	background-color:transparent;
	color:#646464;
	text-align:right;
	letter-spacing:1px;
	font-size:13px;
	line-height:16px;
	font-family:lato, sans-serif;
	font-weight:400;
	position:fixed;
	top:235px;
	left:20px;
}

#u166-4.MuseLinkActive,#u169-4:hover{
	padding-top:0px;
	padding-bottom:0px;
	min-height:16px;
	width:128px;
	margin:0px;
}

#u169-4:hover p{
	color:#F28B2C;
	visibility:inherit;
}

#u169-4.MuseLinkActive p{
	color:#F28B2C;
	visibility:inherit;
}

#pu548{
	z-index:101;
	margin-top:45px;
	width:100%;
}

#u548{
	z-index:101;
	width:460px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:449px;
}

#pamphletu1195{
	z-index:198;
	width:0.01px;
	height:40px;
	position:relative;
	margin-right:-10000px;
	margin-top:150px;
	left:95.04%;
}

#u1196{
	z-index:199;
	width:40px;
	padding-bottom:40px;
	position:relative;
	margin-right:-10000px;
}

#u1197{
	width:40px;
	height:40px;
	border-color:#DEDEDE;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:20px;
	position:fixed;
	top:410px;
	right:22px;
	background:#009DB7 url("../images/social_icon-04.png?crc=3760625539") no-repeat center center;
	background-size:cover;
}

#u1197:hover{
	background-repeat:no-repeat;
	background-position:center center;
	border-color:#999999;
	border-radius:20px;
	width:40px;
	height:40px;
	min-height:0px;
	margin:0px;
	background-size:cover;
}

#u1206{
	position:absolute;
	width:524px;
	background-color:#343434;
	background-color:rgba(30,30,30,0.9);
	padding-bottom:44px;
	top:-310px;
	left:286px;
	-pie-background:rgba(30,30,30,0.9);
}

#u1206popup{
	z-index:201;
}

#u1209{
	z-index:202;
	width:480px;
	height:480px;
	border-width:0px;
	border-color:#999999;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:0px;
	margin-right:-10000px;
	position:relative;
	top:22px;
	left:22px;
	background:transparent url("../images/circle_contact-01.png?crc=363560426") no-repeat center center;
}

#u1245-16{
	z-index:203;
	min-height:142px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	letter-spacing:1px;
	position:relative;
	margin-right:-10000px;
	margin-top:171px;
	width:72.92%;
	left:13.55%;
}

#u1245-2{
	font-size:16px;
	line-height:19px;
	font-family:lato, sans-serif;
	font-weight:700;
}

#ppu445{
	z-index:0;
	padding-bottom:130px;
	margin-top:-180px;
	width:100%;
}

#pu445{
	z-index:90;
	width:0.01px;
	padding-bottom:108px;
	margin-right:-10000px;
	margin-top:4px;
}

#u445{
	z-index:90;
	width:40px;
	height:40px;
	-webkit-transition-duration:0.6s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.6s;
	transition-delay:0s;
	transition-timing-function:ease;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:50%;
	position:fixed;
	top:274px;
	right:22px;
	background:#009DB7 url("../images/social_icon-02.png?crc=305366540") no-repeat center center;
	background-size:cover;
}

#u445:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:40px;
	height:40px;
	min-height:0px;
	margin:0px;
	background:#00778B url("../images/social_icon-02.png?crc=305366540") no-repeat center center;
	background-size:cover;
}

#u446{
	z-index:91;
	width:40px;
	height:40px;
	-webkit-transition-duration:0.6s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.6s;
	transition-delay:0s;
	transition-timing-function:ease;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:50%;
	position:fixed;
	top:342px;
	right:22px;
	background:#009DB7 url("../images/social_icon-03.png?crc=4293369133") no-repeat center center;
	background-size:cover;
}

#u446:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:40px;
	height:40px;
	min-height:0px;
	margin:0px;
	background:#00778B url("../images/social_icon-03.png?crc=4293369133") no-repeat center center;
	background-size:cover;
}

#u175{
	z-index:14;
	width:145px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:145px;
	position:fixed;
	top:270px;
	left:137px;
}

#u177{
	z-index:15;
	width:145px;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:145px;
	position:fixed;
	top:270px;
	left:137px;
	background:transparent url("../images/button_purple-01.png?crc=4128477320") no-repeat center center;
	background-size:cover;
}

#u177:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_purple-02.png?crc=4089806038") no-repeat center center;
	background-size:cover;
}

#u177.MuseLinkActive{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_purple-02.png?crc=4089806038") no-repeat center center;
	background-size:cover;
}

#u176-4{
	z-index:16;
	width:31px;
	min-height:19px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:15px;
	line-height:18px;
	font-family:lato, sans-serif;
	font-weight:900;
	position:fixed;
	top:333px;
	left:194px;
}

#u179{
	z-index:20;
	width:145px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:145px;
	position:fixed;
	top:367px;
	left:137px;
}

#u181{
	z-index:21;
	width:145px;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:145px;
	position:fixed;
	top:367px;
	left:137px;
	background:transparent url("../images/button_green-01.png?crc=82912409") no-repeat center center;
	background-size:cover;
}

#u181:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_green-02.png?crc=497059277") no-repeat center center;
	background-size:cover;
}

#u181.MuseLinkActive{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_green-02.png?crc=497059277") no-repeat center center;
	background-size:cover;
}

#u180-4{
	z-index:22;
	width:31px;
	min-height:19px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:15px;
	line-height:18px;
	font-family:lato, sans-serif;
	font-weight:900;
	position:fixed;
	top:430px;
	left:194px;
}

#u174-4{
	z-index:41;
	width:128px;
	min-height:16px;
	background-color:transparent;
	color:#646464;
	text-align:right;
	letter-spacing:1px;
	font-size:13px;
	line-height:16px;
	font-family:lato, sans-serif;
	font-weight:400;
	position:fixed;
	top:334px;
	left:20px;
}

#u169-4.MuseLinkActive,#u174-4:hover{
	padding-top:0px;
	padding-bottom:0px;
	min-height:16px;
	width:128px;
	margin:0px;
}

#u174-4:hover p{
	color:#B56C95;
	visibility:inherit;
}

#u174-4.MuseLinkActive p{
	color:#B56C95;
	visibility:inherit;
}

#u182-4{
	z-index:45;
	width:128px;
	min-height:16px;
	background-color:transparent;
	color:#646464;
	text-align:right;
	letter-spacing:1px;
	font-size:13px;
	line-height:16px;
	font-family:lato, sans-serif;
	font-weight:400;
	position:fixed;
	top:432px;
	left:20px;
}

#u174-4.MuseLinkActive,#u182-4:hover{
	padding-top:0px;
	padding-bottom:0px;
	min-height:16px;
	width:128px;
	margin:0px;
}

#u182-4:hover p{
	color:#14997A;
	visibility:inherit;
}

#u182-4.MuseLinkActive p{
	color:#14997A;
	visibility:inherit;
}

#u184{
	z-index:26;
	width:145px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:145px;
	position:fixed;
	top:466px;
	left:137px;
}

#u185{
	z-index:27;
	width:145px;
	-webkit-transition-duration:0.3s;
	-webkit-transition-delay:0s;
	-webkit-transition-timing-function:ease-in;
	transition-duration:0.3s;
	transition-delay:0s;
	transition-timing-function:ease-in;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:145px;
	position:fixed;
	top:466px;
	left:137px;
	background:transparent url("../images/button_pink-01.png?crc=461314695") no-repeat center center;
	background-size:cover;
}

#u185:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	width:145px;
	min-height:0px;
	margin:0px;
	background:transparent url("../images/button_pink-02.png?crc=4003337147") no-repeat center center;
	background-size:cover;
}

#u186-4{
	z-index:28;
	width:31px;
	min-height:19px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:15px;
	line-height:18px;
	font-family:lato, sans-serif;
	font-weight:900;
	position:fixed;
	top:529px;
	left:194px;
}

#u187-4{
	z-index:49;
	width:128px;
	min-height:16px;
	background-color:transparent;
	color:#646464;
	text-align:right;
	letter-spacing:1px;
	font-size:13px;
	line-height:16px;
	font-family:lato, sans-serif;
	font-weight:400;
	position:fixed;
	top:531px;
	left:20px;
}

#u182-4.MuseLinkActive,#u187-4:hover{
	padding-top:0px;
	padding-bottom:0px;
	min-height:16px;
	width:128px;
	margin:0px;
}

#u187-4:hover p{
	color:#FFFFFF;
	visibility:inherit;
}

#u103{
	z-index:6;
	min-height:999.925px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:0px;
	
}

#u103_align_to_page{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	max-width:1250px;
	padding-bottom:394px;
}

#dos{
	left:714px;
	position:relative;
}

#pu542{
	z-index:56;
	margin-top:6px;
	position:relative;
	width:100%;
	background: transparent url(../images/mapa.png) no-repeat center center;
	background-size:cover;
	
}

#u542{
	z-index:56;
	width:118px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:1px;
	left:714px;
}

#u331{
	z-index:57;
	width:118px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u337-6{
	z-index:59;
	width:72px;
	min-height:34px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	line-height:14px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:45px;
	left:19px;
}

#u545{
	z-index:65;
	width:144px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:311px;
	left:301px;
}

#u329{
	z-index:66;
	width:144px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u338-4{
	z-index:68;
	width:72px;
	min-height:25px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:20px;
	line-height:24px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:60px;
	left:36px;
}

#u539{
	z-index:72;
	width:318px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:384px;
}

#u327{
	z-index:73;
	width:318px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u339-6{
	z-index:75;
	width:236px;
	min-height:192px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right: 1000px;
	margin-top:68px;
	left:41px;
}

#u533{
	z-index:81;
	width:372px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:135px;
	left:760px;
}

#u335{
	z-index:82;
	width:372px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u340{
	z-index:84;
	width:260px;
	height:260px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:152px;
	position:relative;
	margin-right:-10000px;
	margin-top:56px;
	left:56px;
	background:;
	background-size:cover;
}

#u536{
	z-index:85;
	width:239px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:343px;
	left:497px;
}

#u333{
	z-index:86;
	width:239px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u341{
	z-index:88;
	width:183px;
	height:182px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:152px;
	position:relative;
	margin-right:-10000px;
	margin-top:29px;
	left:28px;
	background:;
	background-size:cover;
}

.js body{
	visibility:hidden;
}

.js body.initialized{
	visibility:visible;
}

#u103-bw{
	z-index:6;
	min-height:999.925px;
	margin-top:488px;

}

#pu114{
	z-index:3;
	width:100%;
}

#u114{
	z-index:3;
	min-height:636px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	padding-bottom:364px;
	background:transparent url("../images/background_orange_full_op2-02.png?crc=3953050653") no-repeat center top;
}

#pu646{
	z-index:122;
	width:0.01px;
	padding-bottom:0px;
	margin-right:-10000px;
	margin-top:31px;
	margin-left:353px;
}

#u646{
	z-index:122;
	width:144px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	margin-left:190px;
	position:relative;
}

#u589{
	z-index:123;
	width:144px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u589_img{
	z-index:124;
	width:144px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u594-4{
	z-index:125;
	width:72px;
	min-height:25px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:20px;
	line-height:24px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:58px;
	left:36px;
}

#u649{
	z-index:104;
	width:318px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	margin-left:81px;
	margin-top:25px;
	position:relative;
}

#u586{
	z-index:105;
	width:318px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u588-6{
	z-index:107;
	width:221px;
	min-height:179px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right:-10000px;
	margin-top:70px;
	left:49px;
}

#u652{
	z-index:113;
	width:118px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
}

#u591{
	z-index:114;
	width:118px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u593-6{
	z-index:116;
	width:72px;
	min-height:34px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	line-height:14px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:46px;
	left:18px;
}

#u655{
	z-index:129;
	width:371px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:252px;
	left:810px;
}

#u595{
	z-index:130;
	width:371px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u595_img{
	padding-bottom:1px;
}

#u597{
	z-index:132;
	width:260px;
	height:260px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:152px;
	position:relative;
	margin-right:-10000px;
	margin-top:57px;
	left:57px;
	background:transparent url("../images/perfomance_022.jpg?crc=221636868") no-repeat center center;
	background-size:cover;
}

#u114-bw{
	z-index:3;
	min-height:636px;
}

#tres{
	position:relative;
	margin-right:-10000px;
	width:22px;left:614px;
}

#u154{
	z-index:4;
	min-height:1000px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	/*background:transparent url("../images/background_purple_full_op2_artboard%204.png?crc=4187959111") no-repeat center top;*/
}

#u154_align_to_page{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	max-width:1250px;
	padding-bottom:326px;
}

#ppu732{
	z-index:0;
	margin-top:22px;
	position:relative;
	width:100%;
}

#pu732{
	z-index:151;
	width:0.01px;
	padding-bottom:0px;
	margin-right:-10000px;
	margin-top:18px;
	margin-left:466px;
}

#u732{
	z-index:151;
	width:144px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	margin-left:56px;
	position:relative;
}

#u668{
	z-index:152;
	width:144px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u674-4{
	z-index:154;
	width:72px;
	min-height:25px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:20px;
	line-height:24px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:56px;
	left:37px;
}

#u729{
	z-index:133;
	width:317px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	margin-top:22px;
	position:relative;
}

#u666{
	z-index:134;
	width:317px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u672-6{
	z-index:136;
	width:208px;
	min-height:214px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right:-10000px;
	margin-top:200px;
	left:55px;
}

#u735{
	z-index:158;
	width:372px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:839px;
}

#u675{
	z-index:159;
	width:372px;
	background-color:transparent;
	opacity:0.9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter:alpha(opacity=90);
	position:relative;
	margin-right:-10000px;
}

#u677{
	z-index:161;
	width:260px;
	height:260px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:152px;
	position:relative;
	margin-right:-10000px;
	margin-top:56px;
	left:57px;
	background:transparent url("../images/019.jpg?crc=30204957") no-repeat center center;
	background-size:cover;
}

#u726{
	z-index:142;
	width:118px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	left:495px;
	margin-top:15px;
	position:relative;
}

#u670{
	z-index:143;
	width:118px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u673-6{
	z-index:145;
	width:72px;
	min-height:34px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	line-height:14px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:47px;
	left:19px;
}

#u154-bw{
	z-index:4;
	min-height:1000px;
}

#u741{
	z-index:5;
	min-height:1000px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	background:transparent url("../images/background_green_full_op2_artboard%203.png?crc=4219021530") no-repeat center top;
}

#u741_align_to_page{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	max-width:1250px;
	padding-bottom:332px;
}

#cuatro,#cinco{
	left:614px;
	position:relative;
}

#ppu820{
	z-index:0;
	margin-top:2px;
	position:relative;
	width:100%;
}

#pu820{
	z-index:182;
	width:0.01px;
	padding-bottom:0px;
	margin-right:-10000px;
	margin-top:43px;
	margin-left:364px;
}

#u820{
	z-index:182;
	width:144px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
}

#u759{
	z-index:183;
	width:144px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u765-4{
	z-index:185;
	width:72px;
	min-height:25px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:20px;
	line-height:24px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:56px;
	left:37px;
}

#u823{
	z-index:164;
	width:318px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	margin-left:64px;
	position:relative;
}

#u757{
	z-index:165;
	width:318px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u666_img,#u757_img{
	padding-right:1px;
}

#u763-6{
	z-index:167;
	width:237px;
	min-height:89px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	margin-right:-10000px;
	margin-top:119px;
	left:41px;
}

#u1516-2,#u1519-2,#u1522-2,#u339-2,#u588-2,#u672-2,#u763-2{
	font-size:18px;
	line-height: 20px;  /*Cambiar la altura entre cada línea*/
	font-family:lato, sans-serif;
	font-weight:900;
	color: white;
	position:relative;
	top: 60px;
	bottom: 5px;
}

#u1516-4,#u1519-4,#u1522-4,#u339-4,#u588-4,#u672-4,#u763-4{
	font-size: 15px;
	line-height: 20px;  /*Cambiar la altura entre cada línea*/
	font-family:lato, sans-serif;
	font-weight:0;
	position:relative;
	top: 60px;
	/*background-size: contain;*/

}

#u339-5{
	font-size:12px;
	line-height:14px;
	font-family:lato, sans-serif;
	font-weight:400;
}

#u817{
	z-index:189;
	width:373px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:801px;
}

#u766{
	z-index:190;
	width:373px;
	background-color:transparent;
	opacity:0.9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter:alpha(opacity=90);
	position:relative;
	margin-right:-10000px;
}

#u768{
	z-index:192;
	width:260px;
	height:260px;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	border-radius:152px;
	position:relative;
	margin-right:-10000px;
	margin-top:57px;
	left:58px;
	background:transparent url("../images/018.jpg?crc=180662713") no-repeat center center;
	background-size:cover;
}

#u826{
	z-index:173;
	width:118px;
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	left:577px;
	margin-top:26px;
	position:relative;
}

#u761{
	z-index:174;
	width:118px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u764-6{
	z-index:176;
	width:72px;
	min-height:34px;
	background-color:transparent;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	line-height:14px;
	font-family:lato, sans-serif;
	font-weight:700;
	position:relative;
	margin-right:-10000px;
	margin-top:47px;
	left:19px;
}

#u741-bw{
	z-index:5;
	min-height:1000px;
}

.css_verticalspacer .verticalspacer{
	height:calc(100vh - 5062px);
}

#u829{
	z-index:193;
	min-height:42px;
	background-color:#282828;
	padding-bottom:20px;
}

#u114_align_to_page,#u829_align_to_page{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	max-width:1250px;
}

#u1192-4{
	z-index:194;
	min-height:21px;
	background-color:transparent;
	color:#505050;
	text-align:center;
	letter-spacing:1px;
	font-size:11px;
	line-height:13px;
	font-family:lato, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
	margin-top:21px;
	width:32.64%;
	left:33.68%;
}

#u829-bw{
	z-index:193;
	min-height:42px;
}

.html{
	background-color:#000000;
}

.texto {
	color: white;
	font-size: 30px;
	text-indent: 500px;
}

body{
	position:relative;
	min-width:320px;
}